.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #2B2D42;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circle1 {
  position: absolute;
  background: #0083FE;
  filter: blur(200px);
  width: 720px;
  height: 720px;
  position: absolute;
  top: -75%;
  left: 0%;
}
.circle2 {
  position: absolute;
  background: #6D6F84;
  filter: blur(200px);
  width: 720px;
  height: 720px;
  position: absolute;
  top: 30%;
  left: 100%;
}
.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1000px;
  width: 100%;
}
.imgContainer {
  min-width: 450px;
  height: 618px;
  position: relative;
}
.content h1 {
  position: absolute;
  top: 50px;
  left: 200px;
  font-size: 72px;
  max-width: 70%;
}
.content p {
  position: relative;
  font-family: "Rubik";
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
}
.info {
  position: relative;
  top: -100px;
}
.actions {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.actions button {
  width: 200px;
  height: 60px;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: white;
  transition-duration: .3s;
  border-radius: 30px;
}
.orangeBut {
  background-color: #FF632C;
}
.orangeBut:hover {
  background-color: #fd5213;
}
.actions button.portfolioBut {
  background-color: transparent;
  border: 1px solid #0083FE;
}
.actions button.portfolioBut:hover {
  background-color: #0083FE;
}